@font-face {
  font-family: "SourceSans";
  src: url(./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "Cap-Sourcesans";
  src: url(./fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}


@import url('./node_modules/font-awesome/css/font-awesome.min.css');


@font-face {
  font-family: 'Londrina Outline', cursive;
  src: url(./fonts/Londrina_Outline/LondrinaOutline-Regular.ttf); 
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
 height: 100vh; 
}
body{
  font-family: "SourceSans", sans-serif;
  display: inline;
  margin: 0px;
  overscroll-behavior: none;
  scroll-behavior: none;
}

#content {
  display: grid;
  grid-template-rows: 1fr 1fr 8fr 1fr ;
  background-color: #ffffff;
  scroll-behavior: smooth;
  height: 100%;
}

#innerContentDiv{
  display:flex; 

}

h1 {
  display: flex;
  font-size: 50px;
  justify-content: center;
  font-family: 'Londrina Outline'
}

#header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000000; 
}

.tab-list{
  display: grid;
  border: none;
  background-color: #ffffff ;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  color: #000000;
  font-family: 'Londrina Outline';
  font-weight: 800;
  font-size: 35px;
}

.tab-list div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-list div:hover {
  color: #48c100;
}

.green{
  color:#48c100; 
}

/* Home content*/
#home-content{
  display: grid;
  background-image: url(./images/coloring-picture-g4efb0f330_640.jpg);
  padding: 30px;
  overflow-y: auto;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


/* #home-content-alternative{
  display: grid;
  grid-template-rows: 1fr 2fr;
  background-image: url(/images/coloring-picture-g4efb0f330_640.jpg);
  padding: 30px;
  overflow-y: auto;
} */

#num0{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem; 
  justify-content: center;
  align-items: center;
  /* font-size: 40px; */
  padding: 10px;
  background-color:#fe5d26b5;
  /* width: 50%; */
  justify-self: center;
}

#num0 > div{
  font-size: 40px;  
}

#orderbtn-div button{
  border-radius: 10px;
  font-size: 1.75rem;
  padding: 5px;
}

#num1{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: #fe5d26b5;
  border-radius: 15px;
  align-content: center;
  justify-self: center;
  /* justify-content: center; */
  padding: 10px;
  /* max-width: 600px; */
  max-height: 500px;
  height: 400px;
}

/* div#hours{
  display:flex;

  /* align-self: center; }
 */

table{
  border-collapse: collapse;
  /* border: 1px solid; */
  margin-left:auto;
  margin-right:auto;
}

tr{
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 15px;
}
tr:nth-child(even) {
  background-color:lightgray;
}

#address-info-div{
  display:flex; 
  font: 20px;
}

/* Menu content*/

#menu-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

#inner-menu{
  display: grid;
  grid-gap: 25px;
}

#menu-order-div{
  display:flex;
  column-gap: 10px;
}
#item-LoremIpsum {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  gap: 15px;
}

#item-div{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  align-content: stretch;
  gap: 10px;
}
#menu-order-div{
  display:flex;
  align-items: center;
}
#menu-order-btn{
  display: flex;
  border-radius: 5px;
  font-size: 19px;
  padding: 3px;
}
#menu-order-btn:hover{
  background-color: #6eba40;
}

#item-image-div > img{
  height: 200px;
}

/* contact content */
#contact-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact-info {
  display: grid;
  row-gap: 20px;
  justify-content: center;
  /* margin: 1rem;
  max-width: 40vh;
  max-height: 45vh; */
  font-family: 'Cap-Sourcesans';
  /* font-size: larger; */
  font-size:20px;
  align-items: center;
}
#contact-info > div{
  display: flex;
  gap: 10px;
}

/* #contact-body div{
  border: solid black 1px
} */

/* Footer and child divs*/
footer{
  display: flex;
  height: 5vh;
  /* align-items: center; */
  justify-content: center;
  gap: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: "SourceSans";
  color: #000000;
}

.heart:before {
  content: '\2665';
  color: red;
}

footer > div{
  display: flex;
}
a{
  display: flex;
  flex-direction: row;
  gap:5px;
}

a:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: none;
}
.fa.fa-github{
 font-weight: 20px;
}